[submodule "submodules/fractal"]
	path = submodules/fractal
	url = https://github.com/gronank/Fractal.git
[submodule "submodules/triangle"]
	path = submodules/triangle
	url = https://github.com/eppz/Triangle.NET.git
[submodule "submodules/priorityqueue"]
	path = submodules/priorityqueue
	url = https://github.com/BlueRaja/High-Speed-Priority-Queue-for-C-Sharp.git
